# PROVA PRÁTICA DE SQLITE

In [ ]:
import sqlite3



nome = 'Escola.db'

script_Escola = """CREATE TABLE IF NOT EXISTS Escola (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                nome TEXT NOT NULL,
                idade INTEGER NOT NULL,
                email TEXT NOT NULL
            );"""
            

try:
    with sqlite3.connect(nome) as conn:
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(script_Escola)

        # Salva as alterações no banco de dados
        conn.commit()

        print("Tabelas Criadas com Sucesso")
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

sql = "SELECT * FROM "

Tabelas Criadas com Sucesso

In [27]:
sql = "INSERT INTO Escola (nome, idade, email) VALUES (?,?,?)"

try:
    with sqlite3.connect(nome) as conn:
            
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(sql, ('kaike', 15, 'bykaiikee@email.'))

        # Salva as alterações no banco de dados
        conn.commit()
        


except sqlite3.OperationalError as e:
    print("ERRO: ", e)

In [38]:
sql = "SELECT * FROM escola"


try:
    with sqlite3.connect(nome) as conn:
        conn.row_factory = sqlite3.Row # Essa linha é opcional. Ela faz com que o resultado seja uma lista de dicionários
        # Cria um cursor
        cur = conn.cursor()
        

        # Executa o script
        cur.execute(sql)
        res = cur.fetchall() # retorna uma lista de dicionários

        
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

In [39]:
for i in res:
    print(i['nome'], i['idade'], i['email'], i['id'])

gustavo 17 bygustavoaa@email. 1
alice 15 byalicee@email. 2
kaike 15 bykaiikee@email. 4

In [23]:
sql = "UPDATE Alunos SET idade = ? WHERE id = ?"

try:
    with sqlite3.connect(nome) as conn:
            
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(sql, (17, 2))

        # Salva as alterações no banco de dados
        conn.commit()


except sqlite3.OperationalError as e:
    print("ERRO: ", e)

In [34]:
sql = "UPDATE Escola SET idade = ? WHERE id = ?"

try:
    with sqlite3.connect(nome) as conn:
            
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(sql, (15, 2))

        # Salva as alterações no banco de dados
        conn.commit()


except sqlite3.OperationalError as e:
    print("ERRO: ", e)

In [37]:
sql = "DELETE FROM Escola WHERE id = ?"

try:
    with sqlite3.connect(nome) as conn:
            
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(sql, (3,))

        # Salva as alterações no banco de dados
        conn.commit()
        


except sqlite3.OperationalError as e:
    print("ERRO: ", e)